[submodule "snippets/buster"]
	path = snippets/buster
	url = git@github.com:rundis/lt-buster-snippets.git
[submodule "snippets/lighttable"]
	path = snippets/lighttable
	url = git@github.com:rundis/lt-plugin-snippets.git
[submodule "snippets/javascript"]
	path = snippets/javascript
	url = git@github.com:rundis/lt-javascript-snippets.git
[submodule "snippets/groovy"]
	path = snippets/groovy
	url = git@github.com:rundis/lt-groovy-snippets.git
